---
layout: default
title: Jo Castilho - Graphic Designer
---
<div class="jumbotron" data-parallax="scroll" data-image-src="{{ "/images/jumbotron-background.jpg" | prepend: site.baseurl }}">
  <div class="jumbotron-container container">
    <img src="/images/jo.png">
    <p>Graphic Designer</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="h1-line">
        <h1 id="Portfolio" class="post-title">Portfolio</h1>
      </div>
    </div>
  </div>
  {% for post in site.posts %}
  {% capture thecycle %}{% cycle 'first', 'second', 'third' %}{% endcapture %}
  {% if thecycle == 'first' %}
    <div class="row">
  {% endif %}
    <div class="col-sm-4 portfolio-item">
      <a href="{{ post.url | prepend: site.baseurl }}" class="portfolio-link">
        <img src="{{ post.image }}" title="{{ post.title }}" alt="{{ post.title }}">
      </a>
    </div>
  {% if thecycle == 'third' or forloop.last %}
    </div>
  {% endif %}
  {% endfor %}
</div>
