@import "../_libs/bootstrap-sass/assets/stylesheets/bootstrap";

/* Variables */
$jo-peach: #fbdcd4;

/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Work sans", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: $jo-peach;
}

h1 {
  display: inline-block;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  font-size: 3.5em;
  background: #ffffff;
  padding: 20px;
}

.h1-line {
  text-align: center;
  background: url(/images/h1-line.png) 0 70px repeat-x;
  margin-bottom: 20px;
}

.h1-line.h1-extra-margin {
  margin-bottom: 4em;
}

/* Nav */
.navbar {
  margin-bottom: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; 
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;

  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: $jo-peach;
  }
}

.navbar-brand {
  padding: 5px 15px;
}

/* Jumbotron */
.jumbotron {
    position: relative;
    margin-bottom: 0px;
    background: transparent;
    width: 100%;
    min-height: 40em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.jumbotron-container {
  text-align: center;
  p {
    color: #ffffff;
    font-size: 2.4em;
    font-family: "Work Sans", sans-serif;
    text-shadow: 1px 1px 10px #000000;
  }
}

/* Portfolio */
.portfolio-item {
  margin-bottom: 15px;
  .portfolio-link {
    display: block;
    position: relative;
    margin: 0px auto;
    max-width: 400px;
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    color: #000;
    img {
      width: 100%;
    }
    p {
      margin-top: 0.6em;
    }      
  }
}

.portfolio-item a:hover,
.portfolio-item a:focus {
  color: $jo-peach;
  text-decoration: none;
}

/* Form */
form {
  font-family: "Work Sans", sans-serif;
  .form-group {
    margin-bottom: 3em;
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: $jo-peach;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder { /* Firefox 18- */
      color: $jo-peach;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {  /* Firefox 19+ */
      color: $jo-peach;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder { 
      color: $jo-peach;
    }
  }
  .btn-default:hover {
    background: $jo-peach;
    border: 1px solid $jo-peach;
  }
}

/* About */
.jo-about {
  text-align: justify;
  .quote {
    display: inline-block;
    padding-bottom: 0.6em;
    font-family: "Pacifico", sans;
    font-size: 1.8em;
    color: $jo-peach;
  }
  img {
    width: 100%;
    max-width: 555px;
    padding-bottom: 1.6em;
  }
  .jo-about-image {
    text-align: center;
  }
}

