---
layout: default
---
<div class="container">

  <div class="post">

  <header class="post-header">
    <div class="h1-line h1-extra-margin">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
  </header>

  <div id="project-carousel" class="owl-carousel owl-theme">
    {% for image in page.images %}
    <div><img src="{{ image.url }}" alt="{{ image.alt }}" title="{{ image.title }}"></div>
    {% endfor %}
  </div>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="row post-footer">
    <div class="col-xs-6 text-left">
      {% if page.next %}
      <a href="{{ page.next.url }}">&lt; {{ page.next.title }}</a>
      {% endif %}
    </div>
    <div class="col-xs-6 text-right">
      {% if page.previous %}
      <a href="{{ page.previous.url }}">{{ page.previous.title }} &gt;</a>
      {% endif %}
    </div>
  </div>

</div>

</div>
